:root {
  --blue: rgb(49, 145, 255);
  --blue-glass: rgba(49,145,255,0.6);
  --white: #dddddd;
  --orange: #ee7b08;
  --dark-orange: #be6913;
}

body {
  background: url(https://s3-alpha-sig.figma.com/img/d2f2/4fa4/e719da3be05429a9e067d5ef4cfbb91b?Expires=1662940800&Signature=KKyQeilmXjtHwuybMnGB7Gf~gNtrvQ0NEgj7Mji0GE8eobhZ1YvXVjjWB7iRBClM~kJoMq0olMRCriA1-ayC1u70KimkHLVT-vTXOZxbtlnCPUYYmM4NXsmTt8ZfytEd9Ec2e7e5~afimtLwu5FmMRBc77RAdzVMMOwpIOPRQlAm6KEB0lvnKuLghVU5uyZjFj130IN3S2hs9pXkXVoQox9mrs9-eI4CTwLYhw3p9YCAYl658Lj1Ax7iUS2ayIhudWoad9StrMstHK9Ud4YWOhB9caV1fXSqw6SisR8JFy3n~fLyZh8RW6IjJRM~lzixH1WAkgGqu4w8RYWCPbkE9g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  background-size: 100vw;
}

.glass-card {
  background-color: var(--blue-glass);
}

.row {
  min-height: 3rem;
}

.special-width {
  width: 10vw;
}

h1 {
  color: var(--orange);
  font-family: 'Oswald', sans-serif;
}

h4, .btn{
  color: var(--dark-orange);
  font-family: 'Oswald', sans-serif;
}